.screenshot {
  position: relative;
  margin: 0 auto;
  max-width: 39rem;
  max-height: 600px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  padding-bottom: 30px;
/* margin-right: auto; */
}

.blogBody {
  text-align: justify;
  text-justify: auto;
  /* text-justify: inter-word; */
}

ul {
  margin-bottom: 0;
}